<h1>Express Pirates:</h1> 
<ul>
    <li>Bonny:{{pirate.Bonny}}</li>
    <li>Sparrow:{{pirate.Sparrow}}</li>
    <li>Teach:{{pirate.Teach}}</li>
    <li>Laffite:{{pirate.Laffite}}</li>
    <li>Read:{{pirate.Read}}</li>
    <li>Rackham:{{pirate/Rackham}}</li>


    <a href="/pirates"></a>